footer {
  background-color: #ffffff;
  color: #2f4f2f;
}

.row-main img {
  width: 150px;
  height: auto;
  padding-bottom: 30px;
}

.row {
  padding: 50px;
}

p {
  margin-bottom: 10px;
}

h4 {
  padding-bottom: 10px;
}

.col-body {
  margin-top: 30px;
  display: flex;
  flex: 3;
  text-align: justify;
  justify-content: flex-start; /* atur peletakan antar kolom flex */
  align-items: flex-start;
  gap: 50px; /* jarak antar kolom */
}

.col-alamat h4 {
    margin-bottom: 10px;
}

.about {
    max-width: 700px;
}

.about h4 {
    margin-bottom: 10px;
}

.fitur h4 {
    margin-bottom: 10px;
}

li {
  padding-bottom: 10px;
  list-style-type: none; /* hilangkan bullet */
}

a {
  text-decoration: none;
  color: #2f4f2f;
  font-weight: light;
}

a:hover {
  color: #939a93;
}

hr {
  margin-top: 30px;
}

.row-footer {
  text-align: center;
  padding-top: 20px;
}
