* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: auto;
  overflow-y: auto;
  background-color: white;
}

h1 {
  color: rgb(54, 54, 54);
  margin-bottom: 50px;
  align-items: center;
}

.main-content {
  overflow-y: auto;
  padding: 100px 20px 40px; /* kasih jarak 100px biar gak ketiban navbar */
  min-height: 100vh; /* biar bisa discroll */
}

.navbar {
  position: fixed; /* biar nempel di atas */
  top: 0; /* posisi paling atas */
  left: 0; /* mulai dari pojok kiri */
  right: 0;
  width: auto;
  margin-right: 0;
  max-width: 100%; /* lebarnya sepanjang layar */
  height: 80px; /* tinggi navbar */
  background-color: #ffffff; /* kasih warna background */
  display: flex; /* biar logo & link sejajar */
  align-items: center; /* posisi vertikal di tengah */
  justify-content: flex-start;
  padding: 0 20px; /* jarak dalam kiri-kanan */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* efek bayangan halus */
  z-index: 1000; /* biar gak ketimpa konten lain */
}

.navbar img {
  height: 50px; /* ukuran logo */
  width: 100px;
  height: 50px;
  margin-left: 30px;
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: green;
  font-weight: bold;
  margin-right: 20px;
}

.nav-link:hover {
  color: #42aef6; /* efek hover */
}

body {
  background-color: #e9fae9;
  justify-content: center;
}

.container {
 color: black;
}

.data-training {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 90%; /* semua container punya lebar seragam */
  margin: 50px auto; /* tengah & jarak antar tabel */

}

.table {
  width: 100%; /* tabel isi penuh container */
  table-layout: fixed; /* biar kolom lebar konsisten */
  border: 1px solid #ededed;
  border-radius: 10px;
  border-style: solid;
  padding: 10px;
  margin: 0 0 20px 20px;
  color: #5f635d;
  border-style: solid;
  border-color: #ededed;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  table-layout: fixed;
}

td {
  padding: 0 0 10px 10px;
  text-align: center;
  border: 1px solid #cccccc; /* garis antar kolom dan baris */
}

.table .header {
  background-color: rgb(118, 235, 118);
  color: #ffffff;
  padding: 10px 10px 40px 40px;
}

.data-training {
  width: 100%;
  min-height: 100vh;
  padding-top: 20px;
}

.data-training h1 {
  text-align: center;
}

h3 {
  margin-bottom: 10px;
  color: #2f4f2f;
  text-align: center;
}

td select {
  background-color: white;
  color: #2f4f2f;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}