* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: auto;
  overflow-y: auto;
  background-color: white;
}

h1 {
  color: rgb(54, 54, 54);
  margin-bottom: 50px;
  align-items: center;
}

.main-content {
  overflow-y: auto;
  padding: 100px 20px 40px; /* kasih jarak 100px biar gak ketiban navbar */
  min-height: 100vh; /* biar bisa discroll */
}